@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
.home-title{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin: 10px;
}

h2{
    font-size: 2em;
    margin: 0;
}
hr {
    height: 3px;
    margin: 35px 0;
    background-color: #396E94;
  }

#logo_link{
    padding-top: 5px;
    padding: 35px;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
    margin-top: 0px;
}
h5{
    text-align: center;
    margin-top: -13px;

}

nav{
    background-color: #396E94;
    text-align: center;
    line-height: 1em;
    font-size: 1.2em;
}
nav  {
    list-style-type: none;
    display: flex;
  }
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1em;
    min-width: 90px;
    min-height: 1em;
    
}

#head{
    background-color: #396E94 ;
    
}

nav a:hover {
    background-color: #fd7f18d7;
    color: #fcfbfb;
}

.logo{
    float: left;
    margin-top: -10px;
    width: 80px;
    padding-top: 10px;
    border-radius: 100%;
}

#hero-img{
    width: 100%;
    height: 50%;
    margin-top: -6px;

}
#middle-img{
    width: 500px;
    margin-top: -200px;
    height: 100px;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    grid-column: 1/19;
    background-color: #396E94;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.so{
    width: 50px;
    padding-top: 5px;
    height: 50px;
    
}
#text{
    text-justify: justify;
}
.book{
    background-color: #396E94;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    box-shadow: 5px 5px 10px #396E94;
}

.book:hover {
    background-color: #fd7f18d7;
    color: black;
    box-shadow: 5px 5px 10px #fd7f18d7;
}
